

{% extends "home/base.html" %} {% load crispy_forms_tags %} {% load crispy_forms_tags %} {% block content%}

<div class="container mt-5">
	<h3 class="text display-2 text-center compa-txt">Company Profile</h3>
	<p><br>
		<p> <span class="stem">STEM </span> <span class="medica">MEDICA</span>  <span class="stem">  እስቲም ሜዲካ </span> is an Ethiopian registered company to distribute medical supplies, devices, equipment across Ethiopia with quality and affordable economic base. </p> 
		<p>The company is established in 2023 GC with a startup capital of 100,000.00 USD. The founder of the organization, Mr. Geremew Zewdie is a biomedical engineer by professions as well as an entrepreneur a visionary to Medical business firm. The enthusiasm made the owner to promote and transfer technology in manufacturing activity. </p>
		<p>The key axis for <span class="stem">STEM </span> <span class="medica">MEDICA</span>is to work closely with professionals, individuals, government supplier and so forth. The targets are the most representative groups to feed them with ideas and challenges of whenever it is needed. Also, these targets are the most effective groups to communicate new developments. The goal is going to present the latest scientific understanding in and accessible way, and this rests easily. </p>
		<p>Currently, the company serves for wide range of customers such as private and public (specialized) hospital, private clinics, health and educational institutions, pharmacies. The company operate in all regions of the territory of Ethiopia and deliver products promptly in order to satisfy the esteemed customer in general and discovering new potential in regard to our supplies with the newly adaptive technologies. </p>
		<p> <span class="stem">STEM </span> <span class="medica">MEDICA</span> as a company believes in team work and mutual benefit where its employees, customers and suppliers are benefited. The staffs are professional, steadfast, sociable and ready to serve customers with respect, honesty and politeness. Our products are up-to date with fair and competitive economic prices and distribution.</p> 
			<u class="underline-hover headings change-color display-5  text text-center"> 1. General Objective</u>
			
			 <p><br>To avail the Ethiopian market by purchasing, preparing and distributing Machines, medical supplies, equipment and other products,
		which pertain for the prevention and control of diseases and performing related activities in the health related sector. </p>
			<u class="underline-hover change-color display-5  text text-center headings">2. Vision</u> 
		<p> <br> <span class="stem">STEM </span> <span class="medica">MEDICA'S</span> vision is to become a renowned and respected supplier of medical equipment and devices by long term
		transform to manufacturing and contribute its role in the market growth of the sector. </p>
			<u class="underline-hover change-color display-5  text text-center headings">3. Mission</u> 
		<p> <br><span class="stem">STEM </span> <span class="medica">MEDICA</span> operate with a mission by focusing on satisfying its customers in believing that customers are the king’s assets where our professional
		staff strives to realize. Hence, in particular our company aspires: 
		<ul>
		<li>to meet customers' demand swiftly and ethically</li>  
		<li>to provide goods and services timely</li>  
		<li>to coordinate with customers in the health and pharmaceuticals industry to supply
		equipment with latest technology, to fill the gap of supply and demand </li>
		<li>to work closely with stakeholders in the industry to find ways and play a role in improving the overall efficiency of the health system </li>
		<li>to satisfy our customers with the delivery of up-to date products and introduce modern technology and know-how </li>
		</ul>
		</p>
			<u class="underline-hover change-color display-5  text text-center  headings"> 4. Values </u>
		<p> <br> <p> <span class="stem">STEM </span> <span class="medica">MEDICA</span> values rest in its vision and missions that brings its customers at the center of our service. Thus in order to deliver our supplies of products
		with a highest range of satisfaction to our customers, our professional staff and the management team believes in Customers loyalty, Render quality products and services, Efficiency, Being Ethical, Honesty, Civility.</p>
	</p>
</div>
<style>
	.compa-txt{
		   font-weight: 600;
    text-shadow: 0px 0px 10px rgb(15, 196, 227);
	}
	.stem {
    color: rgb(12, 61, 118);
	font-weight: 800;
	font-size: 18px;
  }
  .medica {
    color: greenyellow;
	font-weight: 800;
	font-size: 18px;
  }
  .headings{
	font-weight: bolder;
	color: rgb(12, 61, 118) !important;
	font-size: 40px !important;

  }
</style>

{%endblock content%}
