{% extends "home/base.html" %} {% load crispy_forms_tags %} {% load
crispy_forms_tags %} {% block content%}
<section
  class="container mt-5 d-flex justify-content-center align-items-center"
>
  {% if messages %}
  <div class="alert-container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="card-pu w-100">
    <div class="card-body">
      <legend class="success display-3 text-center">
        PUBLISH A NEW PRODUCT
      </legend>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="justify-content-center">{{ form | crispy }}</div>
        <div class="justify-content-center">{{ images }}</div>
        <div class="text-center">
          <button class="btn publish-btn btn-lg">PUBLISH</button>
        </div>
      </form>
    </div>
  </div>
</section>
<style>
  .publish-btn {
    background-color: rgb(152, 244, 14);
    color: white;
    margin-top: 40px;
  }
  .publish-btn:hover {
    background-color: rgb(105, 170, 9);
    color: white;
  }
  .card-pu {
    width: 450px !important;
    margin-bottom: 55px;
  }
  .success {
    color: rgb(14, 138, 214);
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 32px;
  }
</style>
{% endblock %}
